*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    height: 50px;
    margin-bottom: 20px;
}
.container-header{
    display: flex;
    justify-content: flex-end;
}
.speaker-view, .ingrandisci{
    background-color: gray;
    border: 3px solid black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 10px; 
}
.ingrandisci{
    border-left: 40px;
}
main{
    background-color: black;
    height: calc(100vh - 130px);
    overflow-y: auto;  
}
.full-container{
    width: 95%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
.col-14{
    width: calc(100% / 7);
    margin: 5px;
}
.partecipant-card{
    width: 100%;
    height: 100px;
    position: relative;
}
.partecipant-card img{
    width: 100%;
    height: 100%;
}
.label-name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

footer{
    background-color: rgb(23, 22, 22);
    height: 80px;
    display: flex;
    justify-content: space-between;
   
}
.footer-left, .footer-right, .footer-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
footer .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
span{
    font-size: 14px;
}
.button-right{
    height: 100%;
    width: 100%;
    background-color: rgb(75, 75, 75);
    color: red;
    padding: 20px;
    border: none;
}