*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    height: 10vh;
    margin-bottom: 20px;
}
.container-header{
    display: flex;
    justify-content: flex-end;
}
.speaker-view, .ingrandisci{
    background-color: gray;
    border: 3px solid black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 10px; 
}
.ingrandisci{
    border-left: 40px;
}
main{
    background-color: black;
    height: 80vh;
    width: 100vw; 
}
.container{
    width: 75%;
    margin: 0 auto;  
}
.row{
    display: flex;
    margin-bottom: 20px; 
}
.col-20{
    width: calc(100% / 7);
    margin: 0 10px ;
    position: relative;
}
.name{
    position: absolute;
    top: 80px;
    right: 50px;
    background-color: gray;
    font-size: 15px; 
    color: white;
}

footer{
    background-color: rgb(23, 22, 22);
    height: 10vh;
    width: 100vw;
    display: flex;
   
}
.container-footer{
    width: 100%;
}


.row-footer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.col-25{
    height: 50px;
    width: 25%;
    

}
.col-50{
    height: 50px;
    width: 50%;

}
.icone{
  font-size: 30px;
  display: flex;
  padding: 5px;
 color: white;
}
.testo-icone{
    font-size: 10px;
    
}
ul{
    list-style-type: none;
    display: flex;
    
}
li{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
    color: white;
}
.share{
    color: green;
}
.tasto{
    width: 50%;
    
}
.end-meeting{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
h4{
    color: red;
}
.end-meeting:hover{
    background-color: grey;
}